:root {
    --primary: #216523;
    --secondary: #28792b;
}
body {
    background-color: var(--primary);
    background-image: url("topography.svg");
    color: black;
}
nav {
    color: white;
}
#main-container {
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}
.btn-green {
    color: white;
    background-color: var(--primary);
}
.btn-green:hover {
    color: white;
    background-color: var(--secondary);
}
/* @media (min-width: 576px) { 
    .navbar-toggler {
        display: none;

    }
} 
*/
@media (min-width: 576px) {
    #main-container {
        border-radius: 1rem;
    }
}
