/* variables */
:root {
    --primary: hsl(0, 0%, 6%);
    --secondary: #1d1f1d;
    --green: #318f34;
}

/* general css */
html {
    overflow: auto;
}
.ifLoggedIn {
    display: none;
}
body {
    overflow: hidden;
    background-color: var(--secondary);
    background-image: url("topography.svg");
    padding-bottom: 2rem;
}
a {
    cursor: pointer;
}
.container {
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
} 
.container:first-of-type{
    margin-top: 80px;
}
@media (min-width: 576px) {
    .container {
        border-radius: 1rem;
    }
    .container:first-of-type {
        margin-top: 120px;
    }
}
.container button {
    margin-bottom: 0.4rem;
}
h1 {
    font-size: x-large;
}

/* navbar */
nav {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
nav>img {
    width: 60px;
}
.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    padding: 0rem 1rem 0rem 1rem;
    width: 100%;
}
.navbar-nav {
    margin-bottom: 1rem;
}
.navbar-brand {
    vertical-align: middle;
}
.navbar-toggler {
    font-size: 1rem;
    margin-left: 0.5rem;
}
.nav-item {
    line-height: 2;
}
.navbar-link {
    color: white;
    padding: 0.5rem;
}
.navbar-link:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
@media (min-width: 576px) {
    nav>img {
        width: 100px;
    }
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.7);
        width: auto;
        border-radius: 0 0 1rem 0;
    }
    .navbar-link, .navbar-brand {
        font-size: x-large;
    }
    .navbar-toggler {
        font-size: 1.25rem;
        margin-left: 1rem;
    }
}
#settings{
    padding-left: 0.5rem;
}
#settings a {
    font-size: small;
}

/* countdown */
.countdown>div {
    text-transform: uppercase;
}
.countdown span {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown .h1 {
    font-size: medium;
}
@media (min-width: 768px) {
    .countdown span {
        width: 100px;
        height: 100px;
    }
    .countdown .h1 {
        font-size: 35px;
    }
}


/* forms */
.modal-body article {
    max-width: 400px;
    padding-bottom: 0;
}
.form-group .input-group-prepend:nth-child(3) {
    margin-left: .5rem;
}
.fab, .fas {
    margin-right: 1rem;
}
.fa-bolt {
    margin-left: 3px;
}
.social-login {
    margin-top: -1.8rem;
    margin-bottom: .5rem;
}
.input-group-text {
    width: 2.5rem;
}
button.close {
    position: absolute;
    right: 1rem;
}

/* table */
table {
    width: 800px;
}
th {
    text-align: left;
}
table, th, td {
    border: 1px solid #0c0e0b;
}
td{
    text-align: left;
}
#ranking_table td b{
    color: var(--green);
}

/* tracking and statistics modals */
#trackCategories, #statisticsCategories {
    padding: inherit;
}
#trackCategories button, #statisticsCategories button {
    margin: 0.2rem;
}
#trackCategories button:not(.collapsed), #statisticsCategories button:not(.collapsed) {
    background-color: #171a1d;
    pointer-events: none;
}
#trackSubmit>button[disabled] {
    pointer-events: none;
}
div[data-dep] {
    display: none;
}
small {
    opacity: 0.7;
}
#statisticsModal .categoryform {
    text-align: center;
}


/* carbon visual */
.line {
    fill: none;
    stroke: var(--green);
    stroke-width: 2px;
}
.line2 {
    fill: none;
    stroke: #0f5380;
    stroke-width: 2px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 42px;
    padding: 2px;
    font: 10px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}


/* Call to action */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.vertical-alignment-helper .modal-content {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}
#callToActionLabel {
    font-size: small;
}
#modal-content-call {
    max-width: 350px;
}
#modal-footer-call {
    font-size: medium;
}
#callToAction .modal-footer {
    justify-content: space-evenly;
}
.callToActionButtons .col-sm {
    margin-top: 0.7rem;
    padding-top: 0.7rem;
    border-top: 1px solid #dee2e6;
}
.callButtons {
    display: block;
    margin: 0.2rem auto;
}
#rainforest {
    width: 100%;
}
@media (min-width: 576px) {
    #callToActionLabel, #modal-footer-call, .callButtons {
        font-size: large;
    }
    #modal-content-call {
        max-width: 528px;
    }
}
@media (min-width: 1400px) {
    #callToActionLabel, .callButtons {
        font-size: x-large;
    }
    #modal-content-call {
        max-width: 800px;
    }
}